/* Main */

body {
  width: 100%;
  height: 100vh;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#mainContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Div Content*/

#backgroundContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 70%;
  background-color: rgba(213, 213, 213, 0.8);
  border-radius: 5px;
  gap: 15px;
}

/* Pomodoro */

#pomodoroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  gap: 50px;
}

#buttonSelectionTimeContainer {
  display: flex;
  gap: 15px;
}

.buttonSelectionTime {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #84a7c5;
  font-family: "Roboto Flex";
  border-style: none;
  font-weight: bold;
  font-size: 20px;
  color: #2a4054;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  transition: opacity 0.3s;
}

.buttonSelectionTime:hover {
  opacity: 80%;
  cursor: pointer;
}

#pomodoroInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#pomodoroInput {
  font-family: "Roboto Flex";
  font-weight: bolder;
  font-size: 100px;
  color: #343434;
  outline: none;
  background-color: transparent;
  border: none;
  max-width: 35%;
  text-align: center;
}

#pomodoroInput::placeholder {
  color: #343434;
}

#buttonSelectionActionContainer {
  display: flex;
  gap: 15px;
}

.buttonSelectionAction {
  background-color: #84a7c5;
  font-family: "Roboto Flex";
  border-style: none;
  font-weight: bolder;
  font-size: 30px;
  color: #2a4054;
  border-radius: 5px;
  width: 200px;
  height: 80px;
  text-align: center;
  transition: opacity 0.3s;
  box-shadow: 0 4px 2px;
  box-sizing: border-box;
}

.buttonSelectionAction:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Horizontal Line*/

#line {
  width: 80%;
  border: none;
  height: 2px;
  background-color: #a0a0a0;
  margin: 0 auto;
}

#achievePomodoroTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.achievePomodoroText {
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 25px;
  color: #343434;
}

/* Vertical Line */

#lineVertical {
  width: 2px;
  border: none;
  height: 95%;
  background-color: #a0a0a0;
  margin: 0 auto;
}

/* Responsive Vertical Line */

#responsiveVerticalLine {
  display: none;
}

/* Tasks */

#tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  gap: 50px;
}

#taskTitle {
  font-family: "Roboto Flex";
  font-weight: bolder;
  font-size: 50px;
  color: #343434;
}

#inputContainer {
  display: flex;
  flex-direction: flex-row;
  gap: 10px;
}

#tasksBacklogContainer {
  width: 70%;
  height: 50%;
  background-color: #dbdbdb;
  border-radius: 5px;
}

ol {
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-bottom: 8px;
  padding-top: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #a0a0a0;
  margin: 0 auto;
}

li > p {
  font-family: "Roboto Flex";
}

li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #ff4d4d;
  cursor: pointer;
}

#taskInput {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #84a7c5;
  width: 350px;
}

#taskInput::placeholder {
  font-family: Roboto Flex;
  font-weight: 500px;
}

#addTaskButton {
  border-radius: 50%;
  border: none;
  background-color: #84a7c5;
  cursor: pointer;
}

// Responsive Design

@media only screen and (min-width: 992px) {
  #backgroundContent {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 991.98px) {
  #backgroundContent {
    display: flex;
    flex-direction: column;
  }
}

// Display Flex

@media (max-width: 575.98px) {
  #pomodoroContainer {
    width: 55%;
    height: 90%;
  }

  #tasksBacklogContainer {
    width: 70%;
    height: 80%;
  }
}

/* Mobile */

@media (min-width: 576px) and (max-width: 767.98px) {
  /* background of content */

  #backgroundContent {
    height: 90%;
    width: 80%;
  }

  /* Pomodoro side*/

  #pomodoroContainer {
    width: 80%;
    gap: 35px;
    padding: 20px;
  }

  .buttonSelectionTime {
    font-size: 15px;
    width: 125px;
    height: 40px;
  }

  #pomodoroInput {
    max-width: 60%;
    font-size: 70px;
  }

  .buttonSelectionAction {
    font-size: 20px;
    width: 130px;
    height: 60px;
  }

  .achievePomodoroText {
    font-size: 20px;
  }

  /* Horizontal Line | Vertical Line | Vertical Line Responsive*/
  #line {
    display: none;
  }

  #lineVertical {
    display: none;
  }

  #responsiveVerticalLine {
    display: block;
    width: 80%;
    border: none;
    height: 3px;
    background-color: #a0a0a0;
    margin: 0 auto;
  }

  /* Task Side*/
  #tasksContainer {
    width: 90%;
    gap: 35px;
  }

  #taskTitle {
    font-size: 40px;
  }
}

/* Medium devices */

@media (min-width: 768px) and (max-width: 991.98px) {
  /* background of content */

  #backgroundContent {
    height: 90%;
    width: 80%;
  }

  /* Pomodoro side*/

  #pomodoroContainer {
    width: 80%;
    gap: 35px;
    padding: 20px;
  }

  .buttonSelectionTime {
    font-size: 15px;
    width: 125px;
    height: 40px;
  }

  #pomodoroInput {
    max-width: 60%;
    font-size: 70px;
  }

  .buttonSelectionAction {
    font-size: 20px;
    width: 130px;
    height: 60px;
  }

  .achievePomodoroText {
    font-size: 20px;
  }

  /* Horizontal Line | Vertical Line | Vertical Line Responsive*/
  #line {
    display: none;
  }

  #lineVertical {
    display: none;
  }

  #responsiveVerticalLine {
    display: block;
    width: 80%;
    border: none;
    height: 3px;
    background-color: #a0a0a0;
    margin: 0 auto;
  }

  /* Task Side*/
  #tasksContainer {
    width: 90%;
    gap: 35px;
  }

  #taskTitle {
    font-size: 40px;
  }
}

/* Large devices */

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* background of content */

  #backgroundContent {
    height: 70%;
    width: 85%;
  }

  /* Pomodoro side*/
  .buttonSelectionTime {
    font-size: 15px;
    width: 125px;
    height: 50px;
  }

  .buttonSelectionAction {
    font-size: 20px;
    width: 135px;
    height: 80px;
  }

  #pomodoroInput {
    max-width: 60%;
  }

  /* Task side*/

  #inputContainer {
    width: 80%;
  }
}

/* Extra large devices */

@media (min-width: 1200px) {
  /* Pomodoro side*/
  .buttonSelectionTime {
    font-size: 16px;
    width: 135px;
    height: 50px;
  }

  .buttonSelectionAction {
    font-size: 20px;

    width: 135px;
    height: 80px;
  }

  #pomodoroInput {
    max-width: 60%;
  }

  /* Task side*/

  #inputContainer {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  /* Pomodoro side*/
  .buttonSelectionTime {
    font-size: 20x;
    width: 150px;
    height: 50px;
  }

  #pomodoroInput {
    max-width: 60%;
  }

  .buttonSelectionAction {
    font-size: 25px;
    width: 160px;
    height: 80px;
  }

  /* Task side*/

  #inputContainer {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  /* Pomodoro side*/
  .buttonSelectionTime {
    font-size: 20x;
    width: 140px;
    height: 50px;
  }

  #pomodoroInput {
    max-width: 60%;
  }

  .buttonSelectionAction {
    font-size: 25px;
    width: 170px;
    height: 80px;
  }

  /* Task side*/

  #inputContainer {
    width: 80%;
  }
}

@media (min-width: 1700px) {
  /* Pomodoro side*/
  .buttonSelectionTime {
    font-size: 20x;
    width: 180px;
    height: 50px;
  }

  #pomodoroInput {
    max-width: 60%;
  }

  .buttonSelectionAction {
    font-size: 25px;
    width: 200px;
    height: 80px;
  }

  /* Task side*/

  #inputContainer {
    width: 80%;
  }
}
